---
import { getCollection } from 'astro:content'

const rankings = await getCollection('rankings')
---

<div
    class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mt-4"
>
    <table class="table table-md table-zebra text-center">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-start">Runner</th>
                <th>Points</th>
                <th>Average Time</th>
            </tr>
        </thead>
        <tbody>
            {
                rankings.map(({ data }) => (
                    <tr>
                        <td class="text-xl tabular-nums">{data.rank}</td>
                        <td class="flex items-center gap-2">
                            {data.img && (
                                <div class="avatar">
                                    <div class="w-8 rounded-full">
                                        <img src={data.img} />
                                    </div>
                                </div>
                            )}
                            {!data.img && (
                                <div class="avatar avatar-placeholder">
                                    <div class="bg-neutral text-neutral-content w-8 rounded-full">
                                        <span class="text-lg">
                                            {data.name.charAt(0).toUpperCase()}
                                        </span>
                                    </div>
                                </div>
                            )}
                            <a href="#" class="text-[1rem]">
                                {data.name}
                            </a>
                        </td>
                        <td>{data.points}</td>
                        <td>{data.averageTime}</td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
